<div id="welcomeSection">
  <!--Title -->
  <h1>Consentement RGPD</h1>

  <!-- Explanation -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at ligula quis mauris semper volutpat sit amet ac
    metus. Vestibulum sit amet sapien vel urna aliquet posuere a in nibh. Integer ut condimentum purus. In non aliquam
    libero, eu tempus urna. Donec venenatis ipsum nec orci vestibulum, nec consectetur augue consectetur. Nullam commodo
    facilisis metus, nec fringilla neque iaculis eget. Fusce ultricies fermentum tortor, ac tempor leo sagittis in.
    Quisque libero felis, tincidunt sit amet rhoncus id, malesuada sit amet turpis.</p>

  <p>Nunc sapien velit, mattis vel consectetur et, faucibus vel urna. Phasellus placerat egestas nibh. Pellentesque
    volutpat laoreet diam ac laoreet. Nulla nec accumsan neque, nec dictum enim. Suspendisse efficitur velit quam,
    eleifend porta lectus tincidunt vel. Nam metus neque, elementum et nulla in, consequat rhoncus neque. Aenean
    vulputate dignissim ligula vulputate consequat. Aliquam mattis venenatis dapibus.</p>

  <p>Vestibulum auctor ex a sem porttitor, sed venenatis felis mollis. Donec nunc ipsum, molestie vel rhoncus nec,
    vulputate vitae dolor. Vivamus et nisi quis mauris condimentum ultricies. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Proin pretium euismod ex, id hendrerit libero sollicitudin nec.
    Pellentesque vestibulum, metus sit amet sollicitudin hendrerit, massa libero vehicula purus, ut condimentum nulla
    nisl in tortor. Aenean sagittis, velit non elementum pretium, nisl urna varius felis, sit amet rutrum augue tellus
    sit amet mi. Integer vehicula mollis tristique. Nam ultrices orci eget felis consectetur consectetur. Suspendisse
    vulputate, nulla quis interdum malesuada, lorem tortor consequat mi, id facilisis ex dolor et nisl. Morbi tincidunt
    nisl nulla, sed malesuada ligula lobortis et. Ut eget eleifend velit.</p>

  <p>Nullam ac dolor nisi. Aliquam sed nibh non libero ultricies bibendum in sed magna. Aenean nisi sem, faucibus vel
    egestas in, auctor vel risus. Duis consequat tincidunt augue. Donec facilisis a orci in cursus. Cras blandit, felis
    sed suscipit laoreet, nisl massa varius elit, vulputate suscipit lectus massa a risus. Sed sit amet quam eget quam
    volutpat semper.</p>

  <p>Morbi pharetra tellus nulla, interdum finibus ante convallis id. Duis in euismod sem. Curabitur sodales nec lectus
    in accumsan. Mauris suscipit lorem vitae ligula pulvinar pharetra. Suspendisse sit amet tortor justo. Maecenas
    ultrices sodales neque, sit amet tincidunt ipsum feugiat et. Vivamus egestas, orci id dignissim interdum, nibh purus
    tincidunt eros, id tincidunt ex metus nec urna. Cras sit amet nisl lectus. Nullam suscipit dui non odio gravida, in
    condimentum lectus pulvinar. Quisque accumsan enim sed neque placerat rhoncus. Proin lacinia dolor nec sem
    pellentesque, sit amet iaculis ipsum lacinia.</p>

  <section class="checkbox">
    <mat-checkbox (change)="updateCheck()" [formControl]="check">
      J'autorise l'Association "Les MaRosTin.Bel" à utiliser mes données personelles ainsi que celle de mon enfant
        dans le cadre de la gestion de son staut de joueur</mat-checkbox>
  </section>

  <!-- Button -->
  <button (click)="next()" [disabled]="!check.value" color="primary" id="next" mat-raised-button>Valider</button>
</div>
