<div id="personalInformationSection">
    <!--Title -->
    <h1>Informations générales de l'enfant</h1>

    <!-- Surname -->
    <app-surname 
        [surname]="surname" 
        [required]="true"
        (surnameEvent)="getSurname($event)"
        (validityEvent)="getSurnameValidity($event)"
    ></app-surname>

    <!-- Firstname -->
    <app-firstname 
        [firstname]="firstname" 
        [required]="true"
        (firstnameEvent)="getFirstname($event)"
        (validityEvent)="getFirstnameValidity($event)"
    ></app-firstname>

    <!-- Birthdate -->
    <app-birthday 
        [birthday]="birthday" 
        [required]="true"
        (birthdayEvent)="getBirthday($event)"
    ></app-birthday>

    <!-- Firstname -->
    <app-address 
        [street]="street" (streetEvent)="getStreet($event)" (streetValidityEvent)="getStreetValidity($event)"
        [homeNumber]="homeNumber" (homeNumberEvent)="getHomeNumber($event)" (homeNumberValidityEvent)="getHomeNumberValidity($event)"
        [postalCode]="postalCode" (postalCodeEvent)="getPostalCode($event)" (postalCodeValidityEvent)="getPostalCodeValidity($event)"
        [village]="village" (villageEvent)="getVillage($event)" (villageValidityEvent)="getVillageValidity($event)"
        [required]="true"
    ></app-address>

    <!-- Button -->
    <button mat-raised-button color="primary" (click)="submit()" id="submit">Valider</button>
    
    <!-- Test only-->
    <p>Prénom : {{firstname}} ({{firstnameValidity}})</p>
    <p>Nom : {{surname}} ({{surnameValidity}})</p>
    <p>Anniversaire : {{birthday}} ({{birthdayValidity}})</p>
    <p>Rue : {{street}} ({{streetValidity}})</p>
    <p>N° : {{homeNumber}} ({{homeNumberValidity}})</p>
    <p>Code postal : {{postalCode}} ({{postalCodeValidity}})</p>
    <p>Village : {{village}} ({{villageValidity}})</p>

</div>
