<div id="personalInformationSection">
    <!--Title -->
    <h1>Informations générales</h1>

    <!-- Firstname -->
    <app-firstname [firstname]="firstname" (firstnameEvent)="getFirstname($event)"></app-firstname>

    <!-- Surname -->
    <app-surname [surname]="surname" (surnameEvent)="getSurname($event)"></app-surname>

    <!-- Birthdate -->
    <app-birthday [birthday]="birthday" (birthdayEvent)="getBirthday($event)"></app-birthday>

    <!-- Button -->
    <button mat-raised-button color="primary" (click)="submit()" id="submit">Valider</button>

    <!-- Test only-->
    <p>Prénom : {{firstname}}</p>
    <p>Nom : {{surname}}</p>
    <p>Anniversaire : {{birthday}}</p>

</div>
