<!-- Street -->
<mat-form-field appearance="fill">
    <mat-label>Rue</mat-label>
    <input matInput #streetInput 
        placeholder="Ex : rue de l'église" 
        (change)="updateStreet(streetInput.value)" 
        (focusout)="updateStreet(streetInput.value)" 
        [formControl]="streetValidator"
    >
</mat-form-field>

<!-- Home number -->
<mat-form-field appearance="fill">
    <mat-label>Numéro</mat-label>
    <input matInput #homeNumberInput 
        placeholder="Ex : 9" 
        (change)="updateHomeNumber(homeNumberInput.value)" 
        (focusout)="updateHomeNumber(homeNumberInput.value)" 
        [formControl]="homeNumberValidator"
    >
</mat-form-field>

<!-- Postal code -->
<mat-form-field appearance="fill">
    <mat-label>Code postal</mat-label>
    <input matInput #postalCodeInput 
        placeholder="Ex : 6724 "
        (change)="updatePostalCode(+postalCodeInput.value)" 
        (focusout)="updatePostalCode(+postalCodeInput.value)" 
        [formControl]="postalCodeValidator"
    >
</mat-form-field>

<!-- Village -->
<mat-form-field appearance="fill">
    <mat-label>Village</mat-label>
    <input matInput #villageInput 
        placeholder="Ex : Marbehan" 
        (change)="updateVillage(villageInput.value)" 
        (focusout)="updateVillage(villageInput.value)" 
        [formControl]="villageValidator"
    >
</mat-form-field>
